## Some Background Information


**The sinking of the RMS Titanic in the early morning of 15 April 1912, four days into the ship's maiden voyage from Southampton to New York City, was one of the deadliest peacetime maritime disasters in history, killing more than 1,500 people. The largest passenger liner in service at the time, Titanic had an estimated 2,224 people on board when she struck an iceberg in the North Atlantic. The ship had received six warnings of sea ice but was travelling at near maximum speed when the lookouts sighted the iceberg. Unable to turn quickly enough, the ship suffered a glancing blow that buckled the starboard (right) side and opened five of sixteen compartments to the sea. The disaster caused widespread outrage over the lack of lifeboats, lax regulations, and the unequal treatment of the three passenger classes during the evacuation. Inquiries recommended sweeping changes to maritime regulations, leading to the International Convention for the Safety of Life at Sea (1914), which continues to govern maritime safety.**  
*from Wikipedia*

**Imports**

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("titanic_data.csv")

## Exploratory Data Analysis

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Question**

**How many passengers are in the dataset? Are there any missing values in the dataset?**

In [ ]:
#TODO

**Question**

**Of all passengers in df, how many survived?**

In [ ]:
#TODO

**Question**

**Sex: how likely are Female and Male passengers of surviving?**

In [ ]:
#TODO

**Question**

**Class: how likely are passengers of surviving accordingly to their class?**

In [ ]:
#TODO

**Question**

**How lileky are passengers to survive based on their Class and Sex?**

In [ ]:
#TODO

**Question**

**How lileky are passengers to survive based on the Embarked variable?**

In [ ]:
#TODO

**Question**

**How likely are passengers to survive based on the variables Embarked and Sex?**

In [ ]:
#TODO

**Question**

**How likely are passengers to survive based on the variables Embarked, Pclass and Sex**

In [1]:
#TODO