The dataset contains information on students and their marks on 3 subjects: math, reading and writing.

To pass a subject, students need a mark of at least 40 points.  
To be approved, a student needs to pass all 3 subjects.

Let's explore in more details the relationship between students marks / approval and their characteristics!

## Read data and check content

In [1]:
import pandas as pd

# reading the data
data = pd.read_csv('../input/students_performance_data.csv')

data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## Start your exploration by understanding the data structure

In [2]:
# Check unique values on each categorical variable

In [3]:
# TODO

In [4]:
# Check the variables distribution to understand how many students have each characteristic

In [5]:
# TODO

In [6]:
# Check and manage missing values

In [7]:
# TODO

## Explore the overall status of the subjects' marks

In [8]:
# What's the probablility of students passing in Math?

In [9]:
# TODO

In [10]:
# What's the probablility of students passing in Writting?

In [11]:
# TODO

In [12]:
# What's the probablility of students passing in Reading?

In [13]:
# TODO

In [14]:
# What's the Probability of Students being approved (Passing in all the three subjects)?

In [15]:
# TODO

## Go into more details on the different characteristics

In [16]:
# Does gender have an aparent impact?

In [17]:
# TODO

In [18]:
# Does race/ethnicity have an aparent impact?

In [19]:
# TODO

In [20]:
# Does parental level of education have an aparent impact?

In [21]:
# TODO

In [22]:
# Does lunch have an aparent impact?

In [23]:
# TODO

In [24]:
# Does test preparation course have an aparent impact?

In [25]:
# TODO

## Extra

In [26]:
# What about the combination of those different variables / characteristics? What other relationships between students characteristics and marks exist?